<footer>
  <div class="container-fluid  foot pb-4">
    <div class="container text-white">
    <h4> Let's keep in touch</h4>
    <p>7th Floor, Tower-B, Diamond District, 150, HAL Airport Road, Kodihalli, Bangalore – 560008</p>
    <img class="footImg" src="../../assets/images/facebook.png">
    <img class="footImg" src="../../assets/images/twitter.png">
    <img class="footImg" src="../../assets/images/linkedin.png">
  </div></div>
  <div class="container-fluid copy ">
    <h6 class="text-center mb-0 pt-1 pb-2">© Copyright 2017 Quiz India Private Ltd. All rights reserved.</h6>
  </div>
  
</footer>